*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.footerC1-duplicate{
    position: relative;
    margin-top : 10vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.grid1{
    display: grid;
    grid-template-rows: 80vh;
    grid-template-columns: 50% 50%;
    /* column-gap: 8px; */
    column-gap: 3px;
    margin-top: 1vh;
    margin-right: 0;
}
.grid1-div1{
    background-color: rgb(68, 63, 63);  
    align-items: center;  
    position: relative;
    /* grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3; */
}

.grid1-div2{
    background-color: lightseagreen;
    /* grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end : 3; */
}

.center-rounded2{
    height: 200px;
    width: 190px;
    border-color: white;
    border-radius: 50%;
    position: relative;
    top : 20%;
    left: 50%;
    margin-left : -100px;
    /* z-index: 1; */
}

.big-font{
    font-size: 3em;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left : -110px;
    /* z-index: 0; */
}

.bigger-font{
    font-size: 5.5em;
    position: inherit;
    padding-top : 5vh;
    padding-left : 1vw;
    /* top : 5vh;
    left : 1vw;
    right : 0; */
}

.intro-p{
    font-size: 1.2em;
    /* margin-left : 2.3vw; */
    margin-left : 3.8vw;
    margin-top : 8vh;
    margin-right : 7vw;
    text-align: justify;
    text-justify: inter-word;
    line-height: 5vh;
}

.instalink{
    margin-top : 10vh;
    display: flex;
    justify-content: center;
    
}

.instalink-h3{
    font-size: 3em;
    padding-top : 17px;
}