@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.body{
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 2rem; */
  text-align: center;
  position: relative;
  /* height: 64.1vh; */
  height: 100vh;
}
.center-rounded{
    height: 180px;
    width: 170px;
    border-color: white;
    border-radius: 50%;
    /* object-fit: contain;            */
    /* position: absolute; */
    /* bottom : 30%; */
    /* left: 50%; */
    /* margin-left : -75px; */
    /* z-index: 1; */
    
}

.body{
    position: relative;
}

.bImg{
    position: relative;
    top : 1vh;
    /* display: flex; */
    width: 100vw;
    height: 400px;
    /* opacity: 0.8; */
    z-index: -1;
    /*justify-content: center*/
}
.line-1{    
    /* position: absolute; */
    /* top: 75%;  
    left : 45%;
    margin-left: -12px; */
    /* width: 0; */
    color : white;

    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    z-index: 0;
    transform:translateY(-50%);    

    /* position: relative; */
}

/* Animation */
.anim-typewriter{

  animation: typewriter 2s steps(24) 1s 1 normal both,
             blinkTextCursor 500ms steps(24) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;}
}

@media screen and (max-width: 768px) {
    .body{
        height: 60.8vh;
        /* padding: 0;
        margin: 0; */
    }
}