*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.form-div{
    margin-top: 16vh;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 16vh;
    background-color: rgb(71, 63, 63, 0.4);
    border-radius: 10px ;
    
}
.main-form{
    position : relative;
    border :2px solid rgb(34, 32, 32, 0.4);
    border-radius: 10px;
    height: 80vh;
    width: auto;
    padding-top : 10vh;
    padding-left : 10vw;
    padding-right : 10vw;
    padding-bottom : 10vh;
}
.input-name{
    height : 8vh;
    width : 40%;
    margin-right : 5vw;
    padding : 20px;
    border-radius: 10px;
    border-color : rgb(34, 32, 32, 0.4);
}
.input-email{
    height : 8vh;
    width : 52%;
    padding : 20px;
    border-radius: 10px;
    border-color : rgb(34, 32, 32, 0.4);
}
.input-msg{
    height : 35vh;
    width : 100%;
    text-overflow: auto;
    margin-top : 10px;
    padding : 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color : rgb(34, 32, 32, 0.4);
    resize: none;
}
.msg-label{
    font-size : 18px;
    color : rgb(85, 82, 82);
}
.input-msg{
    color : rgb(46, 43, 43);
    /* border-color: black; */
}
.input-submit{
    float : right;
    /* margin-right : 3%; */
    height: 10%;
    width: 30%;
    margin-top : 2%;
    border-radius: 10px;
    border-color : rgb(34, 32, 32, 0.4);
}
.cufooter-contact-label{
    position: relative;
    bottom : 6px;
    margin : 10px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.form-div-1{   
    display: flex;
    justify-content: space-between;
}

.form-div-2{
    
}

@media screen and (max-width: 580px){
    .form-div-1{   
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .input-name{
        width: 100%;
    }
    .input-email{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .input-msg{
        height : 20vh;/* this updated*/
    }
    .main-form{
        height: fit-content;/* this updated*/
    }
    .input-submit{
        min-height: 3rem;/* this updated*/
    }
}

@media screen and (max-width: 420px) {
    .input-msg{
        height : 15vh;/* this updated*/
    }
    .input-submit{
        min-height: 3rem;/* this updated*/
    }
    .input-name{
        height: 3.5rem;
    }
    .input-email{
        height: 3.5rem;
    }
}