*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.core-div-1{    
    margin-top: 3vh;
    display: grid;
    /* position : absolute; */
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
}
.core-div-2-img1{
    background-image: url('../../assets/images/reactjs-backimg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.core-div-2-img2{
    background-image: url('../../assets/images/js-backimg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.core-div-2-img3{
    background-image: url('../../assets/images/django-backimg.png');
    background-repeat: no-repeat;
    background-size: auto 65%;
    background-position: center;
}
.core-div-2-img4{
    background-image: url('../../assets/images/API-backimg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.core-div-2-img5{
    background-image: url('../../assets/images/python-backimg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.core-div-2-img6{
    background-image: url('../../assets/images/testing-backimg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}
.core-div-2{
    border : 2px solid rgba(0, 0, 0, 1);
    padding : 2vh;
    box-shadow: 5px 10px 8px #c7baba
    /* opacity: 1; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.core-h3{
    font-size: 2em;
    font-weight: bold;
}

.core-p-1{
    font-size: 15px;
}

.core-p-2{
    font-size: 15px;
}

