.tech-div1{
    margin-top: 3vh;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 3vh;
    /* position: relative; */
}
/* title and line distance is almost 2vh */
.tech-h2{
    font-size: 3em;
}

.generic-grid{
    margin-top: 3vh;
    display: grid;
    /* position : absolute; */
    grid-template-rows: 20vh 20vh;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
}

.nested-div{
    border : 2px solid rgba(0, 0, 0, 1);
}
.nested-div-cls2{
    position: relative;
}
.icon-label{
    position: absolute;
    align-items: center;
    top : 14px;
    padding-left : 10px;
    font-size: 2em;
}