*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.tech-div1{
    margin-top: 6vh;
    margin-left: 6vw;
    margin-right: 6vw;
    /* margin-bottom: 3vh; */
    /* position: relative; */
}
/* title and line distance is almost 2vh */
.tech-h2{
    font-size: 3em;
}

.generic-grid{
    margin-top: 3vh;
    display: grid;
    /* position : absolute; */
    grid-template-rows: 20vh 20vh;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
}

@media (max-width: 768px) {
    .generic-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12rem 12rem 12rem;
        grid-gap: 1rem;
    }

    .nested-div-cls2{
        position: relative;
        box-shadow: 2px 3px 2px #c7baba
    }
}

@media (max-width: 460px) {
    .generic-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: 12rem;
        grid-gap: 1rem;
    }

    .nested-div-cls2{
        position: relative;
        box-shadow: 2px 3px 2px #c7baba
    }
}

.nested-div{
    border : 2px solid rgba(0, 0, 0, 1);
}
.nested-div-cls2{
    position: relative;
    box-shadow: 5px 10px 8px #c7baba
}
.icon-label{
    position: absolute;
    align-items: center;
    top : 14px;
    padding-left : 10px;
    font-size: 2em;
}